.elementor-3717 .elementor-element.elementor-element-ec92df9 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0100px 0px 0100px;}.elementor-3717 .elementor-element.elementor-element-a4a2ffe .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-a4a2ffe > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-3717 .elementor-element.elementor-element-2a3dd2e .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-2a3dd2e .entry-info, .elementor-3717 .elementor-element.elementor-element-2a3dd2e .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-2a3dd2e .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-2a3dd2e .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-8bbe58b{padding:0px 0100px 0px 0100px;}.elementor-3717 .elementor-element.elementor-element-14439b7 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-14439b7 > .elementor-widget-container{margin:0px 0px 10px 0px;padding:030px 0px 0px 0px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-info, .elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:30px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-3717 .elementor-element.elementor-element-37e90e6 .entry-badge{padding:4px 11px 4px 11px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-2178422{padding:050px 0100px 0px 0100px;}.elementor-3717 .elementor-element.elementor-element-284a24a .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-284a24a > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-3717 .elementor-element.elementor-element-5d89a8b .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-5d89a8b .entry-info, .elementor-3717 .elementor-element.elementor-element-5d89a8b .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-5d89a8b .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-5d89a8b .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-ebb249d .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-ebb249d > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-3717 .elementor-element.elementor-element-a87ba00 .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-a87ba00 .entry-info, .elementor-3717 .elementor-element.elementor-element-a87ba00 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-a87ba00 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-a87ba00 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-2ec7afb .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-2ec7afb > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-3717 .elementor-element.elementor-element-b187491 .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-3717 .elementor-element.elementor-element-b187491 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-b187491 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-b187491 .entry-info, .elementor-3717 .elementor-element.elementor-element-b187491 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-b187491 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-b187491 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-4cfc8d1{padding:0px 0100px 0px 0100px;}.elementor-3717 .elementor-element.elementor-element-94dd3de .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-3717 .elementor-element.elementor-element-94dd3de > .elementor-widget-container{margin:0px 0px 10px 0px;padding:050px 0px 0px 0px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-media img{border-radius:20px 20px 20px 20px !important;}.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-info, .elementor-3717 .elementor-element.elementor-element-4364d09 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-3717 .elementor-element.elementor-element-4364d09 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-content{font-size:15px;font-weight:400;line-height:23px;letter-spacing:-0.3px;margin-bottom:30px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-badge a{font-size:12px;line-height:15px;letter-spacing:-0.4px;}.elementor-3717 .elementor-element.elementor-element-4364d09 .entry-badge{padding:4px 11px 4px 11px;margin-bottom:9px;}@media(max-width:767px){.elementor-3717 .elementor-element.elementor-element-ec92df9 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 035px 0px 035px;}.elementor-3717 .elementor-element.elementor-element-2178422{padding:050px 035px 0px 035px;}}/* Start custom CSS for heading, class: .elementor-element-a4a2ffe */.elementor-3717 .elementor-element.elementor-element-a4a2ffe .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-a4a2ffe .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-a4a2ffe .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-2a3dd2e */.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-2a3dd2e .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-2a3dd2e .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-2a3dd2e .widget-container .entry-badge a{
    display: block;
}

.elementor-3717 .elementor-element.elementor-element-2a3dd2e .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-3717 .elementor-element.elementor-element-2a3dd2e .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-14439b7 */.elementor-3717 .elementor-element.elementor-element-14439b7 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-14439b7 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-14439b7 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-37e90e6 */.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post, .elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-side-posts{
    margin-top: 0;
}


.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-info{
    order: 1;
    margin-bottom: 18px;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-header{
    order: 2;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-content{
    order: 3;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-badge{
    display: none;
}

.elementor-3717 .elementor-element.elementor-element-37e90e6 .auxnew-big-post .entry-info{
    display: block;
    margin-left: 0;
}


.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-small-posts .entry-media img{
    border-radius: 7px !important;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-thumbnail-col{
    width: 23%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-37e90e6 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-37e90e6 .widget-container .entry-badge a{
    display: block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-284a24a */.elementor-3717 .elementor-element.elementor-element-284a24a .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-284a24a .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-284a24a .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-5d89a8b */.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-5d89a8b .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-5d89a8b .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-5d89a8b .widget-container .entry-badge a{
    display: block;
}

.elementor-3717 .elementor-element.elementor-element-5d89a8b .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-3717 .elementor-element.elementor-element-5d89a8b .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ebb249d */.elementor-3717 .elementor-element.elementor-element-ebb249d .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-ebb249d .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-ebb249d .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-a87ba00 */.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-a87ba00 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-a87ba00 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-a87ba00 .widget-container .entry-badge a{
    display: block;
}

.elementor-3717 .elementor-element.elementor-element-a87ba00 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-3717 .elementor-element.elementor-element-a87ba00 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-2ec7afb */.elementor-3717 .elementor-element.elementor-element-2ec7afb .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-2ec7afb .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-2ec7afb .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-b187491 */.elementor-3717 .elementor-element.elementor-element-b187491 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-b187491 .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-b187491 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-b187491 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-b187491 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-b187491 .widget-container .entry-badge a{
    display: block;
}

.elementor-3717 .elementor-element.elementor-element-b187491 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-3717 .elementor-element.elementor-element-b187491 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-94dd3de */.elementor-3717 .elementor-element.elementor-element-94dd3de .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-94dd3de .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-3717 .elementor-element.elementor-element-94dd3de .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-4364d09 */.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post, .elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-side-posts{
    margin-top: 0;
}


.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-info{
    order: 1;
    margin-bottom: 18px;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-header{
    order: 2;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-content{
    order: 3;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-badge{
    display: none;
}

.elementor-3717 .elementor-element.elementor-element-4364d09 .auxnew-big-post .entry-info{
    display: block;
    margin-left: 0;
}


.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-small-posts .entry-media img{
    border-radius: 7px !important;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-thumbnail-col{
    width: 23%;
    margin: 0;
    padding-right: 0;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-3717 .elementor-element.elementor-element-4364d09 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-3717 .elementor-element.elementor-element-4364d09 .widget-container .entry-badge a{
    display: block;
}/* End custom CSS */