.elementor-8995 .elementor-element.elementor-global-69324 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-8995 .elementor-element.elementor-global-69324 > .elementor-widget-container{margin:0px 0px 10px 0px;}/* Start custom CSS for global, class: .elementor-global-69324 */.elementor-8995 .elementor-element.elementor-global-69324 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-8995 .elementor-element.elementor-global-69324 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-8995 .elementor-element.elementor-global-69324 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(251,131,88,255) 0, rgba(247,61,30,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */