.elementor-22708 .elementor-element.elementor-element-e10146d{padding:0px 100px 0px 100px;}.elementor-22708 .elementor-element.elementor-element-f69a5e7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-64971c9{--iteration-count:infinite;}.elementor-22708 .elementor-element.elementor-element-64971c9 .elementor-headline{text-align:center;font-size:38px;}.elementor-22708 .elementor-element.elementor-element-64971c9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-22708 .elementor-element.elementor-element-3ee6aa7 .elementor-heading-title{color:var( --e-global-color-text );}.elementor-22708 .elementor-element.elementor-element-35fce15 .elementor-spacer-inner{--spacer-size:20px;}.elementor-22708 .elementor-element.elementor-element-d1b915e .elementor-spacer-inner{--spacer-size:20px;}.elementor-22708 .elementor-element.elementor-element-50d90fc{--grid-template-columns:repeat(0, auto);--icon-size:19px;--grid-column-gap:3px;--grid-row-gap:0px;}.elementor-22708 .elementor-element.elementor-element-50d90fc .elementor-widget-container{text-align:center;}.elementor-22708 .elementor-element.elementor-element-0c3a85d{padding:050px 100px 50px 100px;}.elementor-22708 .elementor-element.elementor-element-301a71a{text-align:center;}.elementor-22708 .elementor-element.elementor-element-dc982ae .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-22708 .elementor-element.elementor-element-dc982ae > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-title a{color:#FFFFFF;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-title{font-size:22px;font-weight:bold;line-height:27px;letter-spacing:-0.3px;margin-bottom:-23px;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-info, .elementor-22708 .elementor-element.elementor-element-572504f .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-info{margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-badge{background-color:transparent;background-image:linear-gradient(180deg, rgba(128,128,128,0.4) 0%, rgba(128,128,128,0.4) 100%);padding:5px 15px 5px 15px;margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-572504f .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.2px;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-media img{border-radius:10px 10px 10px 10px !important;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-title a{color:#FFFFFF;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-title{font-size:22px;font-weight:bold;line-height:27px;letter-spacing:-0.3px;margin-bottom:-23px;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-info, .elementor-22708 .elementor-element.elementor-element-901e298 .entry-info a{font-size:13px;font-weight:400;line-height:16px;letter-spacing:-0.5px;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-info{margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-badge{background-color:transparent;background-image:linear-gradient(180deg, rgba(128,128,128,0.4) 0%, rgba(128,128,128,0.4) 100%);padding:5px 15px 5px 15px;margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-901e298 .entry-badge a{font-size:12px;font-weight:500;line-height:15px;letter-spacing:-0.2px;}.elementor-22708 .elementor-element.elementor-element-311ac2b{padding:0px 100px 50px 100px;}.elementor-22708 .elementor-element.elementor-element-a42991b .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-22708 .elementor-element.elementor-element-a42991b > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-22708 .elementor-element.elementor-element-70cc1cb .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-22708 .elementor-element.elementor-element-70cc1cb .entry-info, .elementor-22708 .elementor-element.elementor-element-70cc1cb .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-22708 .elementor-element.elementor-element-70cc1cb .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-22708 .elementor-element.elementor-element-70cc1cb .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-22708 .elementor-element.elementor-element-ea33d4b .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-22708 .elementor-element.elementor-element-ea33d4b > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-22708 .elementor-element.elementor-element-8b5283a .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-22708 .elementor-element.elementor-element-8b5283a .entry-info, .elementor-22708 .elementor-element.elementor-element-8b5283a .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-22708 .elementor-element.elementor-element-8b5283a .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-22708 .elementor-element.elementor-element-8b5283a .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-22708 .elementor-element.elementor-element-5936bf2 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-22708 .elementor-element.elementor-element-5936bf2 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-22708 .elementor-element.elementor-element-05e13d1 .entry-media img{border-radius:7px 7px 7px 7px !important;}.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-small-posts .entry-title a{color:var( --e-global-color-text );}.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-small-posts .entry-title{font-size:16px;font-weight:bold;line-height:23px;letter-spacing:-0.3px;margin-bottom:9px;}.elementor-22708 .elementor-element.elementor-element-05e13d1 .entry-info, .elementor-22708 .elementor-element.elementor-element-05e13d1 .entry-info a{font-size:12px;font-weight:400;font-style:normal;line-height:15px;letter-spacing:-0.5px;}.elementor-22708 .elementor-element.elementor-element-05e13d1 .entry-info [class^="entry-"] + [class^="entry-"]:before, .elementor-22708 .elementor-element.elementor-element-05e13d1 .entry-info .entry-tax a:after{margin-right:4px;margin-left:4px;}.elementor-22708 .elementor-element.elementor-element-828fccc{padding:050px 100px 0px 100px;}.elementor-22708 .elementor-element.elementor-element-a304cb2{text-align:left;}.elementor-22708 .elementor-element.elementor-element-659a028{text-align:left;}.elementor-22708 .elementor-element.elementor-element-6d122bf{text-align:left;}.elementor-22708 .elementor-element.elementor-element-c236e54{text-align:left;}.elementor-22708 .elementor-element.elementor-element-af7e578{text-align:left;}.elementor-22708 .elementor-element.elementor-element-a1e1b1d{text-align:left;}.elementor-22708 .elementor-element.elementor-element-d1c3526{padding:0px 0100px 0px 0100px;}.elementor-22708 .elementor-element.elementor-element-d5389aa{text-align:left;}.elementor-22708 .elementor-element.elementor-element-764e6c0{text-align:left;}.elementor-22708 .elementor-element.elementor-element-cf7b9a6{text-align:left;}.elementor-22708 .elementor-element.elementor-element-80c199a{padding:0px 100px 0px 100px;}.elementor-22708 .elementor-element.elementor-element-410ae71 .elementor-spacer-inner{--spacer-size:50px;}.elementor-22708 .elementor-element.elementor-element-681dd15 .elementor-heading-title{color:var( --e-global-color-text );font-size:20px;font-weight:bold;line-height:28px;letter-spacing:-0.3px;}.elementor-22708 .elementor-element.elementor-element-681dd15 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-22708 .elementor-element.elementor-element-1107b2c{padding:0px 0100px 0px 100px;}.elementor-22708 .elementor-element.elementor-element-5a355eb .aux-ico-box{color:#ffffff;}.elementor-22708 .elementor-element.elementor-element-5a355eb .aux-widget-advanced-text{text-align:center !important;}@media(max-width:767px){.elementor-22708 .elementor-element.elementor-element-e10146d{padding:35px 35px 35px 35px;}.elementor-22708 .elementor-element.elementor-element-f69a5e7 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-22708 .elementor-element.elementor-element-3ee6aa7{text-align:center;}.elementor-22708 .elementor-element.elementor-element-3ee6aa7 .elementor-heading-title{font-size:17px;}.elementor-22708 .elementor-element.elementor-element-111d9a7{text-align:center;}.elementor-22708 .elementor-element.elementor-element-111d9a7 .elementor-heading-title{font-size:30px;}.elementor-22708 .elementor-element.elementor-element-35fce15 .elementor-spacer-inner{--spacer-size:20px;}.elementor-22708 .elementor-element.elementor-element-d1b915e .elementor-spacer-inner{--spacer-size:20px;}.elementor-22708 .elementor-element.elementor-element-0c3a85d{padding:35px 35px 35px 35px;}.elementor-22708 .elementor-element.elementor-element-311ac2b{padding:0px 035px 0px 035px;}.elementor-22708 .elementor-element.elementor-element-828fccc{padding:050px 035px 0px 035px;}.elementor-22708 .elementor-element.elementor-element-80c199a{padding:0px 035px 0px 035px;}.elementor-22708 .elementor-element.elementor-element-1107b2c{padding:0px 035px 0px 035px;}}/* Start custom CSS for heading, class: .elementor-element-dc982ae */.elementor-22708 .elementor-element.elementor-element-dc982ae .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-dc982ae .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-22708 .elementor-element.elementor-element-dc982ae .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-572504f */.elementor-22708 .elementor-element.elementor-element-572504f .entry-media, .elementor-22708 .elementor-element.elementor-element-572504f .entry-content, .elementor-22708 .elementor-element.elementor-element-572504f .entry-main{
    margin-bottom: 0;
}

.elementor-22708 .elementor-element.elementor-element-572504f .entry-main{
    position: absolute;
    bottom: 15px;
    left: 30px;
    right: 30px;
}

.elementor-22708 .elementor-element.elementor-element-572504f .aux-media-frame{
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-22708 .elementor-element.elementor-element-572504f .aux-media-frame::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(212deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.55) 100%);
    border-radius: 10px;
}


.elementor-22708 .elementor-element.elementor-element-572504f .hentry, .elementor-22708 .elementor-element.elementor-element-572504f .hentry .aux-attachment{
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.elementor-22708 .elementor-element.elementor-element-572504f .hentry:hover .aux-attachment{
    transform: scale(1.02);
}

.elementor-22708 .elementor-element.elementor-element-572504f .hentry:hover .aux-media-frame{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.elementor-22708 .elementor-element.elementor-element-572504f .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-22708 .elementor-element.elementor-element-572504f .widget-container .entry-badge a{
    display: block;
}
.elementor-22708 .elementor-element.elementor-element-572504f .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-22708 .elementor-element.elementor-element-572504f .entry-title{
    margin-top: 17px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news_grid, class: .elementor-element-901e298 */.elementor-22708 .elementor-element.elementor-element-901e298 .entry-media, .elementor-22708 .elementor-element.elementor-element-901e298 .entry-content, .elementor-22708 .elementor-element.elementor-element-901e298 .entry-main{
    margin-bottom: 0;
}

.elementor-22708 .elementor-element.elementor-element-901e298 .entry-main{
    position: absolute;
    bottom: 15px;
    left: 30px;
    right: 30px;
}

.elementor-22708 .elementor-element.elementor-element-901e298 .aux-media-frame{
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-22708 .elementor-element.elementor-element-901e298 .aux-media-frame::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(212deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.55) 100%);
    border-radius: 10px;
}


.elementor-22708 .elementor-element.elementor-element-901e298 .hentry, .elementor-22708 .elementor-element.elementor-element-901e298 .hentry .aux-attachment{
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.elementor-22708 .elementor-element.elementor-element-901e298 .hentry:hover .aux-attachment{
    transform: scale(1.02);
}

.elementor-22708 .elementor-element.elementor-element-901e298 .hentry:hover .aux-media-frame{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}

.elementor-22708 .elementor-element.elementor-element-901e298 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-22708 .elementor-element.elementor-element-901e298 .widget-container .entry-badge a{
    display: block;
}
.elementor-22708 .elementor-element.elementor-element-901e298 .entry-info{
    display: inline-block;
    margin-left: 15px;
}
.elementor-22708 .elementor-element.elementor-element-901e298 .entry-title{
    margin-top: 17px;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a42991b */.elementor-22708 .elementor-element.elementor-element-a42991b .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-a42991b .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-22708 .elementor-element.elementor-element-a42991b .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-70cc1cb */.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-22708 .elementor-element.elementor-element-70cc1cb .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-22708 .elementor-element.elementor-element-70cc1cb .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-22708 .elementor-element.elementor-element-70cc1cb .widget-container .entry-badge a{
    display: block;
}

.elementor-22708 .elementor-element.elementor-element-70cc1cb .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-22708 .elementor-element.elementor-element-70cc1cb .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ea33d4b */.elementor-22708 .elementor-element.elementor-element-ea33d4b .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-ea33d4b .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-22708 .elementor-element.elementor-element-ea33d4b .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-8b5283a */.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-22708 .elementor-element.elementor-element-8b5283a .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-22708 .elementor-element.elementor-element-8b5283a .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-22708 .elementor-element.elementor-element-8b5283a .widget-container .entry-badge a{
    display: block;
}

.elementor-22708 .elementor-element.elementor-element-8b5283a .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-22708 .elementor-element.elementor-element-8b5283a .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-5936bf2 */.elementor-22708 .elementor-element.elementor-element-5936bf2 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-5936bf2 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-22708 .elementor-element.elementor-element-5936bf2 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */
/* Start custom CSS for aux_recent_news, class: .elementor-element-05e13d1 */.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-small-posts{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-thumbnail-col{
    width: 33%;
    margin: 0;
    padding-right: 0;
}
.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-entry-col{
    width: 67%;
    margin: 0;
}

.elementor-22708 .elementor-element.elementor-element-05e13d1 .hentry{
    min-height: auto;
    margin: 0 0 20px;
}
.elementor-22708 .elementor-element.elementor-element-05e13d1 .widget-container .entry-badge{
    border-radius: 5px;
}
.elementor-22708 .elementor-element.elementor-element-05e13d1 .widget-container .entry-badge a{
    display: block;
}

.elementor-22708 .elementor-element.elementor-element-05e13d1 .aux-attachment{
    transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.elementor-22708 .elementor-element.elementor-element-05e13d1 .hentry:hover .aux-attachment{
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-681dd15 */.elementor-22708 .elementor-element.elementor-element-681dd15 .elementor-widget-container{
    display: flex;
    align-items: center;
}
.elementor-22708 .elementor-element.elementor-element-681dd15 .elementor-heading-title{
    flex-shrink: 0;
}
.elementor-22708 .elementor-element.elementor-element-681dd15 .elementor-widget-container::after{
    content: '';
    height: 2px;
    background-image: linear-gradient(270deg, rgba(84,82,192,255) 0, rgba(50,42,151,255) 100%);
    width: 100%;
    margin-left: 15px;
    border-radius: 1px;
}/* End custom CSS */